.alert-custome{
	background-color: yellow;
}
.link{
	color: red;
}
.close{
	margin-left: 53%;
}
.btn-custome{
	background-color: lightblue;
}
.bg-custome{
	color: red;
}
.reff{
	background-color: yellow;
	color: red;
}
.btn-custome1{
	background-color: yellow;
	color: green;
}
.btn-custome2{
	background-color: lightpink;
	color: red;
}
